@charset "utf-8";

footer{
	width: 100%;
	text-align: center;
}

.div_center{
	text-align: center;
}

.div_left{
	text-align: left;
}

#div_formulario{
	text-align: left;
}
.main_text{
	text-align: justify;
	font-size: 14px;
	line-height: 20px;
}

@media(max-width: 1200px){
	.accordion .accordion-group .accordion-body{
		height: 0px;
	}
}

#topp{
	background-color: #000000;
	height: 10px;
}

#cont{
	width: 800px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding: 30px;
	margin: auto;
	background-color: #f6f6f6;
	line-height: 140%;
}

.cont { float:left;margin-top:15px;color:#999999; }

#barr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width:100%;
	background:#ffffff url('../img/bgbreadcrumbs.png') repeat;
	margin:auto;
	height:33px;
	position: static;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	color:#f2f2f2;
	font-weight:bold;
	vertical-align:  middle;
	text-align: left;
	padding: auto;
}

#barr a{
	text-decoration: none;
	color: #f2f2f2;
	display: inline-block;
	vertical-align: middle;
}

#barr a:hover{
	text-decoration: underline;
	color: #FFFFCC;
	display: inline-block;
	vertical-align: middle;
}

#bari {
	padding: 5px 30px;
}

#logoMN{
	position: absolute; 
	right: 0px; 
	width: 200px; 
	top: 7px
}