<div class="div_center">
	<div class="span2">
		<img src="public/img/boveda2.png" alt="Boveda2" title="Boveda2">
		<hr></hr>
		<p>Boveda v2.1</p>
		<p>@Copyright MasNegocio, Reservados todos los derechos.</p>
		<hr></hr>
		<img src="public/img/logo_MasNegocio.png" alt="MasNegocio" title="MasNegocio">
	</div>
</div>