<div class="row">

	<div class="span3 bs-docs-sidebar main_text">
		<ul id="ul_help" class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="100">
			<li><a href="#definition"><i class="icon-chevron-right"></i>Definiciones</a></li>
			<li><a href="#user"><i class="icon-chevron-right"></i>Administrar Usuarios</a></li>
			<li><a href="#provider"><i class="icon-chevron-right"></i>Administrar Proveedores</a></li>
			<li><a href="#company"><i class="icon-chevron-right"></i>Administrar Empresas</a></li>
			<li><a href="#parameter"><i class="icon-chevron-right"></i>Parámetros del Sistema</a></li>
			<li><a href="#report"><i class="icon-chevron-right"></i>Generar Reporte</a></li>
			<li><a href="#downloadFile"><i class="icon-chevron-right"></i>Descargar Archivos</a></li>
			<li><a href="#downloadXML"><i class="icon-chevron-right"></i>Descargar XML</a></li>			
			<li><a href="#support"><i class="icon-chevron-right"></i>Soporte Técnico</a></li>
		</ul>
	</div>

	<div class="span7 main_text">
		<section id="definition">
		<h5>Definición.</h5>
			<p><h6>Boveda2</h6>
				Esta aplicación te permite satisfacer todas tus necesidades de Facturación Electrónica de manera comoda y sencilla. Con Bobeda2 puedes consultar,gestionar y administrar tus facturas de manera individual o por lotes.
				<h6>Comprobante Fiscal Digital por Internet (CFDI)</h6>
				Es un mecanismo alternativo de comprobación de ingresos, egresos y propiedad de mercancías en traslado por medios electrónicos.
				<h6>Factura electrónica</h6>
				La factura electrónica es una modalidad de factura en la que no se emplea el papel como soporte para demostrar su autenticidad sino por medios electrónicos. De esta forma se comprueba la transacción comercial entre un comprador y un vendedor, obligando y responsabilizando a cada parte.
				<h6>Certificado de Sello Digital</h6>
				Permite acreditar la autoría de los comprobantes fiscales digitales que emita, y de esta manera sus clientes sabrán que usted fue el autor de dicho comprobante fiscal digital. 
				<h6>Firma Electrónica Avanzada (FIEL)</h6>
				La Firma Electrónica Avanzada "Fiel" es un conjunto de datos que se adjuntan a un mensaje electrónico, cuyo propósito es identificar al emisor del mensaje como autor legítimo de éste, tal y como si se tratara de una firma autógrafa. 
				<h6>Cadena original</h6>
				Se entiende como cadena original, a la secuencia de datos formada con la información contenida dentro del comprobante fiscal digital, establecida en el Rubro C del Anexo 20 de la Resolución Miscelánea Fiscal.
			</p>
		</section>
		<hr></hr>
		<section id="user">
		<h5>Administrar Usuarios</h5>
			<p><h6>Añadir Usuarios.</h6>
				<ol>
					<li>Da clic en Catálogos.</li>
					<li>Da click en "Catálogo de Usuarios"</li>
					<li>Da clic en el simbolo + ubicado en el extremo inferior izquierdo.</li>
					<li>Ingresa los campos solicitados.</li>
					<li>Asigna un estatus.</li>
					<li>Da click en "Guardar".</li>
					<li>Si deseas cancelar la operacion, da click en el botón con la "Cancelar"</li>
				</ol>
				<h6>Editar Usuarios</h6>
				<ol>
					<li>Da clic en Catálogos.</li>
					<li>Da click en "Catálogo de Usuarios"</li>
					<li>Selecciona el Usuario a editar.</li>
					<li>Da clic en el simbolo "lapiz" (Modificar la fila seleccionada)  ubicado en el extremo inferior izquierdo.</li>
					<li>Edita los campos requeridos.</li>
					<li>Da click en "Guardar".</li>
					<li>Si deseas cancelar la operacion, da click en el botón con la "Cancelar"</li>
				</ol>
				<h6>Elimina Contactos.</h6>
				<ol>
					<li>Da clic en Catálogos.</li>
					<li>Da click en "Catálogo de Usuarios"</li>
					<li>Selecciona el Usuario a Eliminar.</li>
					<li>Da clic en el simbolo "Bote de basura" (Eliminar la fila seleccionada)  ubicado en el extremo inferior izquierdo.</li>
					<li>Edita los campos requeridos.</li>
					<li>Da click en "Guardar".</li>
					<li>Si deseas cancelar la operacion, da click en el botón con la "Cancelar"</li>
				</ol>
			</p>
		</section>
		<hr></hr>
		<section id="provider">
		<h5>Administrar Proveedores</h5>
			<p><h6>Añadir Proveedor</h6>
				<ol>
					<li>Da clic en Catálogos.</li>
					<li>Da click en "Catálogo de Proveedores"</li>
					<li>Da clic en el simbolo + ubicado en el extremo inferior izquierdo.</li>
					<li>Ingresa los campos solicitados.</li>
					<li>Asigna un estatus.</li>
					<li>Da click en "Guardar".</li>
					<li>Si deseas cancelar la operacion, da click en el botón con la "Cancelar" </li>
				</ol>
				<h6>Editar Proveedor.</h6>
				<ol>
					<li>Da clic en Catálogos.</li>
					<li>Da click en "Catálogo de Proveedores"
					<li>Selecciona el Proveedor a editar.</li>
					<li>Da clic en el simbolo "lapiz" (Modificar la fila seleccionada)  ubicado en el extremo inferior izquierdo.</li>
					<li>Edita los campos requeridos.</li>
					<li>Da click en "Guardar".</li>
					<li>Si deseas cancelar la operacion, da click en el botón con la "Cancelar"</li>
				</ol>
				<h6>Elimina Proveedor.</h6>
				<ol>
					<li>Da clic en Catálogos.</li>
					<li>Da click en "Catálogo de Proveedores"</li>
					<li>Selecciona el Proveedor a Eliminar.</li>
					<li>Da clic en el simbolo "Bote de basura" (Eliminar la fila seleccionada)  ubicado en el extremo inferior izquierdo.</li>
					<li>Edita los campos requeridos.</li>
					<li>Da click en "Guardar".</li>
					<li>Si deseas cancelar la operacion, da click en el botón con la "Cancelar"</li>
				</ol>
			</p>
		</section>
		<hr></hr>
		<section id="company">
		<h5>Administrar Empresas</h5>
			<p><h6>Añadir Empresa</h6>
				<ol>
					<li>Da clic en Catálogos.</li>
					<li>Da click en "Catálogo de Empresas"</li>
					<li>Da clic en el simbolo + ubicado en el extremo inferior izquierdo.</li>
					<li>Ingresa los campos solicitados.</li>
					<li>Asigna un estatus.</li>
					<li>Da click en "Guardar".</li>
					<li>Si deseas cancelar la operacion, da click en el botón con la "Cancelar"</li>
				</ol>
				<h6>Editar Empresa.</h6>
				<ol>
					<li>Da clic en Catálogos.</li>
					<li>Da click en "Catálogo de Empresas"</li>
					<li>Selecciona el Empresas a editar.</li>
					<li>Da clic en el simbolo "lapiz" (Modificar la fila seleccionada)  ubicado en el extremo inferior izquierdo.</li>
					<li>Edita los campos requeridos.</li>
					<li>Da click en "Guardar".</li>
					<li>Si deseas cancelar la operacion, da click en el botón con la "Cancelar"</li>
				</ol>
				<h6>Elimina Empresa.</h6>
				<ol>
					<li>Da clic en Catálogos.</li>
					<li>Da click en "Catálogo de Empresas"</li>
					<li>Selecciona el Empresa a Eliminar.</li>
					<li>Da clic en el simbolo "Bote de basura" (Eliminar la fila seleccionada)  ubicado en el extremo inferior izquierdo.</li>
					<li>Edita los campos requeridos.</li>
					<li>Da click en "Guardar".</li>
					<li>Si deseas cancelar la operacion, da click en el botón con la "Cancelar"</li>
				</ol>
			</p>
		</section>
		<hr></hr>
		<section id="parameter">
		<h5>Parámetros del Sistema</h5>
			<p><h6>Parámetros del Sistema.</h6>
				<ol>
					<li>Da clic en Catálogos.</li>
					<li>Da click en "Catálogo de parametros"</li>
					<li>Selecciona el Parametro a Editar.</li>
					<li>Da clic en el simbolo "lapiz" (Modifica la fila seleccionada)  ubicado en el extremo inferior izquierdo.</li>
					<li>Edita los campos requeridos.</li>
					<li>Da click en "Guardar".</li>
					<li>Si deseas cancelar la operacion, da click en el botón con la "Cancelar"</li>
				</ol>
			</p>
		</section>
		<hr></hr>
		<section id="report">
		<h5>Generar reportes</h5>
			<p>
				<ol>		
					<li>Da clic en el simbolo "Grid" (Excel export)  ubicado en el extremo inferior izquierdo.</li>
				</ol>
			</p>
		</section>
		<hr></hr>
		<section id="downloadFile">
		<h5>Descargar Archivos</h5>
			<p>
				<ol>								
					<li>Da click en Descargar Archivos.</li>
				</ol>
			</p>
		</section>
		<hr></hr>
		<section id="downloadXML">
		<h5>Descargar XML </h5>
			<p>
				<ol>			
					<li>Selecciona el rango de facturas a Procesar.</li>
					<li>Da click en Descargar XML.</li>
				</ol>
			</p>
		</section>
		<hr></hr>		
		<section id="support">
			<h5>Soporte técnico</h5>
			<p>Si tienes dudas, comentarios o algún problema técnico, con gusto te atenderemos.</p>
			<p>Comunícate con nosotros. <br />
			   01 (55) 5096-7034</p>
			<p>boveda@masnegocio.com</p>
		</section>

	</div>
</div>
