<div class="row">
	<div class="span10">
		<button type="button" id="descargarArchivo" class="btn">Descargar Archivos</button>
		<button type="button" id="descargarXml" class="btn">Descargar XML</button><br />
		<div id="rsperror" style="color:red"></div><br/>
		<table id="table_jsonBoveda"></table>
		<div id="div_pager"></div>


		<div id="preparing-file-modal" title="Generando Reporte..." style="display: none;">
			Estamos generado el reporte, por favor espere...
			<div class="ui-progressbar-value ui-corner-left ui-corner-right" style="width: 100%; height:22px; margin-top: 20px;"></div>
		</div>

		<div id="error-modal" title="Error" style="display: none;">
			Hubo un problema generado el reporte, por favor intente de nuevo.
		</div>

	</div>
</div>