<div class="row">
	<div class="span5 main_text">
		<div class="">
			<ul id="tabs" class="nav nav-tabs  nav-justified">
				<li class="active"><a href="#unitaria" data-toggle="tab">Recepción unitaria</a></li>
				<li><a href="#multiple" data-toggle="tab">Recepción multiple</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="unitaria">
					<form id="formUnitaria" method="post"  action="mvc/factura/subir" target="iframe" class="form-horizontal" role="form" enctype="multipart/form-data" encoding="multipart/form-data">
						<p>Carga de Facturas Electrónicas(XML)</p>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="idProveedor">No Proveedor: </label>
							<input class="form-control input-medium" type="text" name="idProveedor" id="idProveedor" />
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="noOrdenCompra">No Orden Compra: </label>
							<input class="form-control input-medium" type="text" name="noOrdenCompra" id="noOrdenCompra" />
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="mail">E-Mail: </label>
							<input class="form-control input-medium" type="text" name="correoElectronico" id="correoElectronico" />
						</div>
						<div id="formInformacionRequerida"></div>
						<div id="infoAuxiliar"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for=""></label><button type="button" id="enviar" class="btn form-control">Enviar</button>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="multiple">
					<form id="formMultiple" method="post"  action="mvc/factura/subirZip" target="iframe" class="form-horizontal" role="form" enctype="multipart/form-data" encoding="multipart/form-data">
						<p>Carga de Facturas Electrónicas(ZIP)</p>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="idProveedor">No Proveedor: </label>
							<input class="form-control input-medium" type="text" name="idProveedor" id="idProveedor" />
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="noOrdenCompra">No Orden Compra: </label>
							<input class="form-control input-medium" type="text" name="noOrdenCompra" id="noOrdenCompra" />
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="mail">E-Mail: </label>
							<input class="form-control input-medium" type="text" name="correoElectronico" id="correoElectronico" />
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="zip">Archivo ZIP: </label>
							<input class="form-control input-medium" type="file" name="zip" id="zip" multiple accept="application/zip" />
						</div>
						<div id="formInformacionRequerida"></div>
						<div id="infoAuxiliar"></div>						
						<div class="form-group">
							<label class="col-sm-2 control-label" for=""></label><button type="button" id="enviar" class="btn form-control">Enviar</button>
						</div>
					</form>
				</div>
			</div> 						
		</div>
	</div>

	<div class="span5 main_text">
		<h4>Recuerda tomar en cuenta los siguientes puntos:</h4>
		<ul>			
			<li>Facturación unitaria.- Deberás subir tu archivo CFDI más aquellos archivos requeridos en el formulario como son albaran, representación grafica y la orden de compra así como el email E-Mail.</li>
			<li>Facturación multiple.- Deberás subir tu archivo ZIP dentro del cual debera existir una carpeta con todos los CFDI's asi como los archivos requeridos complementarios considerando que deben tener el mismo nombre pero con un prefijo para cada archivo complementario:, al_ para el albaran, oc_ para la orden de compra y rg_ para la representación gráfica.</li>
			<li>Para un correcto funcionamiento evita subir archivos/carpetas con caracteres especiales en el nombre.</li>
			<li>Para una mejor experiencia de usuario recuerda mantener actualizado tu navegador, <a href="http://browsehappy.com/?locale=es" target="_blank">verifica aquí tu navegador</a>.</li>			
		</ul>				
	</div>
	<div class="span10 main_text">
		<textarea id="div_resultados" class="main_text input-block-level" readonly rows="7" ></textarea>
	<div>
</div>